@font-face {
  font-family: "Text";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Untitle";
  src: url("./assets/fonts/HomeVideo-Regular.otf");
}

@font-face {
  font-family: "Title";
  src: url("./assets/fonts/DeathStar-VmWB.ttf");
}

body {
  margin: 0;
  max-width: 1660px;
  min-width: 320px;
  flex: 1;
  background: url("./assets/images/starwars.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Text", serif;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
